/* IMPOSTAZIONI GENERALI */
html {
  font-size: 60%;
}
body {
  font-family: "Poppins", "Helvetica" sans-serif;
  background-image: url(../img/sfondo.png);
  background-position: center center;
}
/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
